/* produse.css */
body{
    font-family: 'Montserrat', sans-serif;
}

nav a:hover {

    box-shadow: 10px 10px 10px rgb(125, 128, 163);
    border-radius: 8px;

}

nav a {
    background-color: rgba(255, 255, 255, 0.7);
    color: #4636c5;
    text-decoration: none;
    padding: 1em;
    margin: 0 1em;
    border-radius: 8px;
}
h1 {
    align-items: center;
    text-align: center;
}
.split {
    display: flex;
    flex-direction: row;
}


.pdf-content {
    flex: 2;
    padding: 20px;
}
.noedit {
    text-decoration: none; /* Remove underline */
    font-style: italic; /* Apply italic font style */
}
/* Add styles for the company info and PDF attachments */
.company-info {
    width: 30%; /* Adjust the width as needed */
    float: left;
    padding-right: 20px; /* Add some spacing between sections */
    background-color: #f2f2f2;
    margin-left: 1cm;
    box-shadow: 10px 10px 10px rgb(125, 128, 163);
    border-radius: 8px;
}

.pdf-attachments {
    width: 70%; /* Adjust the width as needed */
    float: left;
}

/* Style for PDF icon */
.pdf-attachments img {
    width: 20px; /* Adjust the size of the PDF icon */
    height: auto;
    margin-right: 5px; /* Add some spacing between icon and text */
}

/* Clear float to prevent layout issues */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
@media only screen and (max-width: 600px)  {
    .company-info {
        width: 30%; /* Adjust the width as needed */
        float: left;
        padding-right: 20px; /* Add some spacing between sections */
        background-color: #f2f2f2;
        margin-left: 0.3cm;
        box-shadow: 10px 10px 10px rgb(125, 128, 163);
        border-radius: 8px;
    }
    
}